
SayItForMe\.xcodeproj/xcuserdata/kyl\.xcuserdatad/xcschemes/xcschememanagement\.plist

SayItForMe\.xcodeproj/project\.xcworkspace/xcshareddata/IDEWorkspaceChecks\.plist

SayItForMe\.xcodeproj/project\.xcworkspace/xcuserdata/kyl\.xcuserdatad/UserInterfaceState\.xcuserstate
